apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{pvname}}
  namespace: kubeflow
  labels:
    pv: {{labels}}
spec:
  capacity:
    storage: {{storage}}
  accessModes:
    - ReadWriteMany
  storageClassName: {{storageClassName}}
  hostPath:
    path: {{hostPath}}
